# Server listening port
PORT=3001

# JSON Web Token secret for signing user & customer sessions
JWT_SECRET=dckids-super-secret-key-change-in-production

# Notifications email recipient
SHOP_NOTIFY_EMAIL=info@dckidsbrand.com

# SMTP Server Configurations for transactional emails (e.g. order notifications, password recovery)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
